@{
    Layout = "_Layout";
}
@model WiseTime.UI.Areas.Admin.ViewModels.PostViewModels.GetAllPostViewModel
<section id="main-contact" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12 item ">
                <div class="blog-section">
                    <div class="blog-heading">
                        <h2 class="blog-heading-h2">@Model.Title</h2>
                    </div>
                    <div class="news-post-meta">
                        <div class="news-post-meta-item">
                            <i class="material-icons news-post-meta-item-icon">access_time</i>
                            @if (Model.CreateDate == Model.EditDate)
                            {
                                <span>@Model.CreateDate.ToString("dd-MMM-yyyy")</span>
                            }
                            else
                            {
                                <span>@Model.EditDate.ToString("dd-MMM-yyyy")</span>
                            }

                        </div>
                        <div class="news-post-meta-item">
                            <span>by &nbsp;</span>
                            <a href="#!">@ViewBag.UserName</a>
                        </div>
                        <div class="news-post-meta-item">
                            <i class="material-icons news-post-meta-item-icon">chat_bubble</i>
                            <span>@ViewBag.CommentCount</span>
                        </div>
                    </div>
                    <div class="news-post-img">
                        <img src="/Images/Image/@Model.Image" alt="">
                    </div>
                    <article class="news-post-article">
                        <h2>@Model.Title </h2>
                        <blockquote>
                            @Model.Content
                        </blockquote>


                    </article>
                    <footer class="news-post-footer">
                    </footer>
                </div>
                <div class="blog-footer">
                    <div class="blog-recent col-margin">
                        <div class="row">
                            <div class="col-12">
                                <h4 style="margin-bottom: 2rem;">Son Məqalələr</h4>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in ViewBag.LastPosts)
                            {
                                <div class="col-5">
                                    <div class="news-item">
                                        <a href="/Admin/Blog/Details/@item.Id" class="news-img">
                                            <img src="/Images/TumbnailImage/@item.TumbnailImage"
                                                 alt="">
                                        </a>
                                        <div class="news-info">
                                            <div class="news-day">
                                                @if (item.CreateDate == item.EditDate)
                                                {
                                                    <p>@item.CreateDate.ToString("dd-MMM-yyyy")</p>
                                                }
                                                else
                                                {
                                                    <p>@item.EditDate.ToString("dd-MMM-yyyy")</p>
                                                }
                                            </div>
                                            <div class="news-item-title">
                                                <a href="">
                                                    <h4>@item.Title</h4>
                                                </a>
                                            </div>
                                            <div class="news-item-text">
                                                <p>
                                                    @item.Content.Substring(0, item.Content.Substring(0, 130).LastIndexOf(" "))...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="blog-Comment">
                        <div class="row">
                            <div class="col-12">
                                <h4 style="margin-bottom: 2rem;">Şərhlər</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @foreach (var comment in ViewBag.Comments)
                                {
                                    <div class="blog-comment-item">
                                        <div class="comment-item">
                                            <div class="comment-item-person">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="comment-item-author d-flex align-items-center">
                                                            <div class="comment-item-author-img">
                                                                <img src="https://cetcc.com.br/giga_site_git/public/cetcc/img/user/user.png"
                                                                     alt="">
                                                            </div>
                                                            <div class="comment-item-author-info">
                                                                @foreach (var user in ViewBag.Users)
                                                                {
                                                                    if (user.Id == comment.UserId)
                                                                    {
                                                                        <h4>@user.Name @user.Surname</h4>
                                                                        break;
                                                                    }

                                                                }

                                                                <p>@comment.CreateDate.ToString("dd MMM,yyyy")</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#!" class="comment-item-replay">Cavab ver</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-item-desc">
                                                <p>
                                                    @comment.Content
                                                </p>
                                            </div>
                                        </div>
                                        @foreach (var item in ViewBag.CommentReply)
                                        {
                                            if (item.CommentId == comment.Id)
                                            {
                                                <div class="comment-replay">
                                                    <div class="comment-item">
                                                        <div class="comment-item-person">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="comment-item-author d-flex align-items-center">
                                                                        <div class="comment-item-author-img">
                                                                            <img src="https://cetcc.com.br/giga_site_git/public/cetcc/img/user/user.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="comment-item-author-info">
                                                                            @foreach (var user in ViewBag.Users)
                                                                            {
                                                                                if (user.Id == item.UserId)
                                                                                {
                                                                                    <h4>@user.Name @user.Surname</h4>
                                                                                    break;
                                                                                }

                                                                            }

                                                                            <p>@item.CreateDate.ToString("MMM dd,yyyy")</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <a href="#!" class="comment-item-replay">Cavab ver</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment-item-desc">
                                                            <p>
                                                                @item.Content
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }

                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("AddPartial",Model.Id)
                </div>
            </div>

        </div>
    </div>
</section>